@charset "UTF-8";

@font-face {
  font-family: "labstep-icons";
  src:url("fonts/labstep-icons.eot");
  src:url("fonts/labstep-icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/labstep-icons.woff") format("woff"),
    url("fonts/labstep-icons.ttf") format("truetype"),
    url("fonts/labstep-icons.svg#labstep-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "labstep-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "labstep-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-apartment:before {
  content: "\e000";
}
.icon-alarm:before {
  content: "\e001";
}
.icon-fill-215:before {
  content: "\e002";
}
.icon-map:before {
  content: "\e003";
}
.icon-lab-1:before {
  content: "\e004";
}
.icon-heart-pulse:before {
  content: "\e005";
}
.icon-gift:before {
  content: "\e006";
}
.icon-funnel:before {
  content: "\e007";
}
.icon-page-text:before {
  content: "\e008";
}
.icon-page-blank:before {
  content: "\e009";
}
.icon-copy-page:before {
  content: "\e00a";
}
.icon-note-list:before {
  content: "\e00b";
}
.icon-page-list:before {
  content: "\e00c";
}
.icon-image:before {
  content: "\e00d";
}
.icon-book-open:before {
  content: "\e00e";
}
.icon-calculator:before {
  content: "\e00f";
}
.icon-print:before {
  content: "\e010";
}
.icon-pie-chart:before {
  content: "\e011";
}
.icon-chart:before {
  content: "\e012";
}
.icon-bookmark:before {
  content: "\e013";
}
.icon-folder:before {
  content: "\e014";
}
.icon-case:before {
  content: "\e015";
}
.icon-paperclip-angle:before {
  content: "\e016";
}
.icon-paperclip:before {
  content: "\e017";
}
.icon-pin:before {
  content: "\e018";
}
.icon-paint-brush:before {
  content: "\e019";
}
.icon-pencil:before {
  content: "\e01a";
}
.icon-create-new:before {
  content: "\e01b";
}
.icon-paper-stack:before {
  content: "\e01c";
}
.icon-briefcase:before {
  content: "\e01d";
}
.icon-trash:before {
  content: "\e01e";
}
.icon-paragraph-align-center:before {
  content: "\e01f";
}
.icon-paragraph-align-left:before {
  content: "\e020";
}
.icon-sort-list-down:before {
  content: "\e021";
}
.icon-sort-list-up:before {
  content: "\e022";
}
.icon-bullet-list:before {
  content: "\e023";
}
.icon-speech-bubble-blank:before {
  content: "\e024";
}
.icon-speech-bubble-text:before {
  content: "\e025";
}
.icon-speech-bubble-dots:before {
  content: "\e026";
}
.icon-speech-bubble-multi-dots:before {
  content: "\e027";
}
.icon-profile-list:before {
  content: "\e028";
}
.icon-profile:before {
  content: "\e029";
}
.icon-airplane:before {
  content: "\e02a";
}
.icon-phone:before {
  content: "\e02b";
}
.icon-megaphone:before {
  content: "\e02c";
}
.icon-mic-mute:before {
  content: "\e02d";
}
.icon-mic:before {
  content: "\e02e";
}
.icon-email-open:before {
  content: "\e02f";
}
.icon-paper-plane:before {
  content: "\e030";
}
.icon-id-card:before {
  content: "\e031";
}
.icon-email-closed:before {
  content: "\e032";
}
.icon-messge:before {
  content: "\e033";
}
.icon-message:before {
  content: "\e034";
}
.icon-hourglass:before {
  content: "\e035";
}
.icon-timer:before {
  content: "\e036";
}
.icon-compass:before {
  content: "\e037";
}
.icon-clock:before {
  content: "\e038";
}
.icon-alarm-1:before {
  content: "\e039";
}
.icon-calendar:before {
  content: "\e03a";
}
.icon-toggle-on:before {
  content: "\e03b";
}
.icon-toggle-off-1:before {
  content: "\e03c";
}
.icon-filter:before {
  content: "\e03d";
}
.icon-settings:before {
  content: "\e03e";
}
.icon-spanner:before {
  content: "\e03f";
}
.icon-lock:before {
  content: "\e040";
}
.icon-unlock:before {
  content: "\e041";
}
.icon-location-pin:before {
  content: "\e042";
}
.icon-sign-post:before {
  content: "\e043";
}
.icon-map-1:before {
  content: "\e044";
}
.icon-trophy:before {
  content: "\e045";
}
.icon-rosette:before {
  content: "\e046";
}
.icon-flame:before {
  content: "\e047";
}
.icon-flames:before {
  content: "\e048";
}
.icon-dinner:before {
  content: "\e049";
}
.icon-cocktail:before {
  content: "\e04a";
}
.icon-wine-bottle:before {
  content: "\e04b";
}
.icon-fork:before {
  content: "\e04c";
}
.icon-knife:before {
  content: "\e04d";
}
.icon-lolipop:before {
  content: "\e04e";
}
.icon-tv:before {
  content: "\e04f";
}
.icon-radio:before {
  content: "\e050";
}
.icon-film:before {
  content: "\e051";
}
.icon-film-camera:before {
  content: "\e052";
}
.icon-save:before {
  content: "\e053";
}
.icon-mouse:before {
  content: "\e054";
}
.icon-desktop-monitor:before {
  content: "\e055";
}
.icon-tablet:before {
  content: "\e056";
}
.icon-mobile-two:before {
  content: "\e057";
}
.icon-console:before {
  content: "\e058";
}
.icon-game-pad:before {
  content: "\e059";
}
.icon-console-alt:before {
  content: "\e05a";
}
.icon-camera-1:before {
  content: "\e05b";
}
.icon-calendar-alt:before {
  content: "\e05c";
}
.icon-headphones:before {
  content: "\e05d";
}
.icon-microphone:before {
  content: "\e05e";
}
.icon-turntable:before {
  content: "\e05f";
}
.icon-speaker:before {
  content: "\e060";
}
.icon-volume:before {
  content: "\e061";
}
.icon-volume-up:before {
  content: "\e062";
}
.icon-volume-loud:before {
  content: "\e063";
}
.icon-volume-mute:before {
  content: "\e064";
}
.icon-filter-alt:before {
  content: "\e065";
}
.icon-play:before {
  content: "\e066";
}
.icon-pause:before {
  content: "\e067";
}
.icon-square:before {
  content: "\e068";
}
.icon-music-minim-alt:before {
  content: "\e069";
}
.icon-music-semi-quaver-alt:before {
  content: "\e06a";
}
.icon-music-semi-quaver:before {
  content: "\e06b";
}
.icon-music-minim:before {
  content: "\e06c";
}
.icon-music-quaver:before {
  content: "\e06d";
}
.icon-loop:before {
  content: "\e06e";
}
.icon-shuffle:before {
  content: "\e06f";
}
.icon-fast-forward:before {
  content: "\e070";
}
.icon-rewind:before {
  content: "\e071";
}
.icon-bullet-list-alt:before {
  content: "\e072";
}
.icon-eject:before {
  content: "\e073";
}
.icon-skip-rewind:before {
  content: "\e074";
}
.icon-skip-forward:before {
  content: "\e075";
}
.icon-world:before {
  content: "\e076";
}
.icon-browser:before {
  content: "\e077";
}
.icon-bar-chart:before {
  content: "\e078";
}
.icon-boxed-arrow-down:before {
  content: "\e079";
}
.icon-boxed-arrow-up:before {
  content: "\e07a";
}
.icon-boxed-arrow-right:before {
  content: "\e07b";
}
.icon-boxed-arrow-left:before {
  content: "\e07c";
}
.icon-upload:before {
  content: "\e07d";
}
.icon-download:before {
  content: "\e07e";
}
.icon-link:before {
  content: "\e07f";
}
.icon-flag:before {
  content: "\e080";
}
.icon-code:before {
  content: "\e081";
}
.icon-share:before {
  content: "\e082";
}
.icon-wind-flag:before {
  content: "\e083";
}
.icon-receipt:before {
  content: "\e084";
}
.icon-tag:before {
  content: "\e085";
}
.icon-tag-alt:before {
  content: "\e086";
}
.icon-wallet:before {
  content: "\e087";
}
.icon-gift-1:before {
  content: "\e088";
}
.icon-bag:before {
  content: "\e089";
}
.icon-cart:before {
  content: "\e08a";
}
.icon-cart-alt:before {
  content: "\e08b";
}
.icon-basket:before {
  content: "\e08c";
}
.icon-shopfront:before {
  content: "\e08d";
}
.icon-cloud:before {
  content: "\e08e";
}
.icon-cloud-rain:before {
  content: "\e08f";
}
.icon-cloud-thunder:before {
  content: "\e090";
}
.icon-cloud-rain-alt:before {
  content: "\e091";
}
.icon-sunrise:before {
  content: "\e092";
}
.icon-sunrise-alt:before {
  content: "\e093";
}
.icon-waterdrop:before {
  content: "\e094";
}
.icon-sunrise-alt-2:before {
  content: "\e095";
}
.icon-sun:before {
  content: "\e096";
}
.icon-wind:before {
  content: "\e097";
}
.icon-moon-rise:before {
  content: "\e098";
}
.icon-moon:before {
  content: "\e099";
}
.icon-heart:before {
  content: "\e09a";
}
.icon-close-window:before {
  content: "\e09b";
}
.icon-clone-window:before {
  content: "\e09c";
}
.icon-menu:before {
  content: "\e09d";
}
.icon-menu-alt:before {
  content: "\e09e";
}
.icon-house:before {
  content: "\e09f";
}
.icon-focus:before {
  content: "\e0a0";
}
.icon-target:before {
  content: "\e0a1";
}
.icon-alarm-angle:before {
  content: "\e0a2";
}
.icon-alarm-alt:before {
  content: "\e0a3";
}
.icon-crop:before {
  content: "\e0a4";
}
.icon-marquee:before {
  content: "\e0a5";
}
.icon-hamburger:before {
  content: "\e0a6";
}
.icon-star:before {
  content: "\e0a7";
}
.icon-box-chevron-down:before {
  content: "\e0a8";
}
.icon-box-chevron-up:before {
  content: "\e0a9";
}
.icon-box-chevron-right:before {
  content: "\e0aa";
}
.icon-box-chevron-left:before {
  content: "\e0ab";
}
.icon-full-screen-window:before {
  content: "\e0ac";
}
.icon-collapse-window:before {
  content: "\e0ad";
}
.icon-expand-window:before {
  content: "\e0ae";
}
.icon-download-alt:before {
  content: "\e0af";
}
.icon-upload-alt:before {
  content: "\e0b0";
}
.icon-exit-left:before {
  content: "\e0b1";
}
.icon-exit-right:before {
  content: "\e0b2";
}
.icon-enlarge-window:before {
  content: "\e0b3";
}
.icon-arrow-left-box:before {
  content: "\e0b4";
}
.icon-arrow-up-box:before {
  content: "\e0b5";
}
.icon-arrow-down-box:before {
  content: "\e0b6";
}
.icon-plus-box:before {
  content: "\e0b7";
}
.icon-minus-box:before {
  content: "\e0b8";
}
.icon-close-box:before {
  content: "\e0b9";
}
.icon-tick-box:before {
  content: "\e0ba";
}
.icon-plus:before {
  content: "\e0bb";
}
.icon-hamburger-outline:before {
  content: "\e0bc";
}
.icon-minus-outline:before {
  content: "\e0bd";
}
.icon-cross-outline:before {
  content: "\e0be";
}
.icon-tick-outline:before {
  content: "\e0bf";
}
.icon-chevron-left-circle:before {
  content: "\e0c0";
}
.icon-loop-alt:before {
  content: "\e0c1";
}
.icon-rotate:before {
  content: "\e0c2";
}
.icon-tick-circle:before {
  content: "\e0c3";
}
.icon-cross-circle:before {
  content: "\e0c4";
}
.icon-minus-circle:before {
  content: "\e0c5";
}
.icon-plus-circle:before {
  content: "\e0c6";
}
.icon-arrow-down-circle:before {
  content: "\e0c7";
}
.icon-arrow-up-circle:before {
  content: "\e0c8";
}
.icon-arrow-right-circle:before {
  content: "\e0c9";
}
.icon-arrow-left-circle:before {
  content: "\e0ca";
}
.icon-chevron-down-circle:before {
  content: "\e0cb";
}
.icon-chevron-up-circle:before {
  content: "\e0cc";
}
.icon-chevron-right-circle:before {
  content: "\e0cd";
}
.icon-search:before {
  content: "\e0ce";
}
.icon-search-plus:before {
  content: "\e0cf";
}
.icon-search-minus:before {
  content: "\e0d0";
}
.icon-download-cloud:before {
  content: "\e0d1";
}
.icon-upload-cloud:before {
  content: "\e0d2";
}
.icon-tag-close:before {
  content: "\e0d3";
}
.icon-tag-empty:before {
  content: "\e0d4";
}
.icon-reply:before {
  content: "\e0d5";
}
.icon-forward:before {
  content: "\e0d6";
}
.icon-up-down-arrows:before {
  content: "\e0d7";
}
.icon-left-right-arrows:before {
  content: "\e0d8";
}
.icon-expand-arrows:before {
  content: "\e0d9";
}
.icon-collapse-arrows:before {
  content: "\e0da";
}
.icon-bicycle:before {
  content: "\e0db";
}
.icon-megaphone-alt:before {
  content: "\e0dc";
}
.icon-bus:before {
  content: "\e0dd";
}
.icon-camera:before {
  content: "\e0de";
}
.icon-coffee-cup:before {
  content: "\e0df";
}
.icon-construction:before {
  content: "\e0e0";
}
.icon-earth:before {
  content: "\e0e1";
}
.icon-chevron-down:before {
  content: "\e0e2";
}
.icon-chevron-up:before {
  content: "\e0e3";
}
.icon-chevron-right:before {
  content: "\e0e4";
}
.icon-chevron-left:before {
  content: "\e0e5";
}
